:root {
    --modal-duration: 1s;
    --modal-color: #f6f6f6;
  }
  
  .modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    padding: 50px;
    display: grid;
    grid-template-columns: 45% 45% 5%;
    gap: 70px;
    background-color: #fff;
    color: #000;
  }
  
  .modal-flag,
  .modal-details {
    margin: 0;
  }
  
  .modal-flag img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .modal-details {
    background: #fff;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 50% 15%;
    column-gap: 50px;
    row-gap: 20px;
  }
  
  .modal-header {
    grid-area: 1/1/2/3;
    font: normal normal bold 30px/34px Helvetica;
  }
  
  .modal-details-1 div,
  .modal-details-2 div {
    font: normal normal 500 14px/18px Helvetica;
    padding: 4px;
  }
  
  .modal-details-1 {
    grid-area: 2/1/3/2;
  }
  
  .modal-details-2 {
    grid-area: 2/2/3/3;
  }
  
  .modal-border {
    grid-area: 3/1/4/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-border-countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  
  .modal-border-countries div {
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid #f4f4f4;
    margin-left: 5px;
  }
  
  .close {
    grid-area: 1/3/2/4;
    color: #bfbfbf;
    font-size: 30px;
    text-align: right;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  .heading {
    font-weight: bold;
  }