.filter-country {
    width: 200px;
    position: relative;
    background-color: white;
  }
  
  .filter-country button {
    padding: 20px;
    outline: none;
    border: none;
  }
  
  .expand-icon {
    float: right;
  }
  
  .click-filter {
    background-color: white;
    font-size: 15px;
  }
  
  .click-filter:hover {
    background-color: #bfbfbf;
  }
  
  .click-filter,
  .region {
    border: none;
    outline: none;
    width: 200px;
    transition: 0.3s;
    background-color: white;
    padding: 20px;
    text-align: left;
  }
  
  .region-list {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    /* transform: scaleY(0); */
  }
  
  .region-list button {
    padding: 10px 20px;
  }
  
  .region:hover {
    background-color: #bfbfbf;
    transform: scale(1.1);
  }