.search-country span {
    position: absolute;
    padding: 20px;
    color: rgba(133, 133, 133);
  }
  
  input {
    padding: 20px 20px 20px 60px;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 450px;
  }