.country {
    display: grid;
    grid-template-rows: 50% 50%;
    cursor: pointer;
  }
  
  .country .country-flag img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .country .country-details {
    background-color: white;
    padding: 30px;
  }
  
  .country .country-details .country-name {
    font-weight: bold;
    font-size: large;
  }
  
  .country .country-details div {
    padding: 5px 0px;
  }

  .heading {
    font-weight: bold;
  }